<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :faculty_id %>
    <%= form.collection_select :faculty_id, Faculty.all, :id, :name %>
  </div>

  <div class="field">
    <% for grade in 1..4 do %>
      <%= form.label :grade, "#{grade}年", value: grade%>
      <%= form.radio_button :grade, grade%>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
